:root{
    /* CONFIGURABLE SETTINGS */
        /* COLORS */
        --color-white: #FFFFFF;
        --color-light-grey: #ececec;
        --color-grey: #586768;
        --color-black: #000000;
        --color-purple: #93327a;
        --color-dark-purple: #70265E;
        --color-turquoise: #398e8a;
        --color-dark-turquoise: #2B6B68;
        --color-light-blue: #0ab9e8;
        --color-medium-blue: #067B9C;

        /* BACKGROUND */
        --medium-purple-color: var(--color-purple);
        --medium-purple-shadow-color: var(--color-dark-purple);

        --medium-turquoise-color: var(--color-turquoise);
        --medium-turquoise-shadow-color: var(--color-dark-turquoise);

        --light-blue-color: var(--color-light-blue);
        --light-blue-shadow-color: var(--color-medium-blue);

        /* COLOR SCHEMES */
        [data-color-scheme|="purple"] {
            --background-color: var(--medium-purple-color);
            --background-shadow: var(--medium-purple-shadow-color);
        }

        [data-color-scheme|="purple-shadow"] {
            --background-color: var(--medium-purple-shadow-color);
        }

        [data-color-scheme|="turquoise"] {
            --background-color: var(--medium-turquoise-color);
            --background-shadow: var(--medium-turquoise-shadow-color);
        }

        [data-color-scheme|="turquoise-shadow"] {
            --background-color: var(--medium-turquoise-shadow-color);
        }

        [data-color-scheme|="light-blue"] {
            --background-color: var(--light-blue-color);
            --background-shadow: var(--light-blue-shadow-color);
        }

        [data-color-scheme|="light-blue-shadow"] {
            --background-color: var(--light-blue-shadow-color);
        }

        /* TEXT */
            /* PRIMARY FONT */

            /* SECONDARY FONT */

            /* FONT SIZES */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* PRIMARY BUTTON */
            /* STYLE */
            :is(.primary-button, .secondary-button, .wpcf7-submit, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                border-radius: 1rem;
            }

            :is(.primary-button, .wpcf7-submit, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                background-color: var(--color-purple);
                border: 0;
            }

            :is(.primary-button, .wpcf7-submit, .wp-block-button:not(.is-style-outline)>.wp-element-button):is(:hover, :active, :focus) {
                background-color: var(--color-dark-purple);
            }

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* SECONDARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* FORMS */

        /* EYEBROW */
        --eyebrow-color: var(--color-dark-purple);

        /* MARGINS */

        /* MISCELANEOUS */
        --link-color: var(--color-purple);
        --hover-link-color: var(--color-dark-purple);
        --element-border-radius: 1rem;

}

.blocks-container {
    margin: 0 auto;
    -webkit-transform: translate3d(0,0,0);
}

.blocks-container > * {
    max-width: var(--wide-width);
}

.blocks-container > .alignfull {
    max-width: 100%;
    -webkit-transform: translate3d(0,0,0);
}

.home main {
    margin-top: -9rem;
}

.default-template {
    margin-top: calc(var(--block-margin) / 2);
}

body:is(.archive, .category, .search, .search-results) .posts-archive-with-filter header {
    padding-top: calc(var(--block-margin) / 2);
}

body:is(.archive, .category, .search, .search-results) .posts-archive-with-filter header :is(h1, h2, h3) {
    color: var(--color-dark-purple);
}

.page-title h1 {
    font: var(--font-headline-3);
    color: var(--color-dark-purple);
}

/* PAGE DEFAULT TEMPLATE */
body:is(.page, .single):not(.home) .blocks-container :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-purple);
    line-height: normal;
}

.page h1 {
    font: var(--font-headline-3);
}

.page h2 {
    font: var(--font-headline-5);
}

.page h3 {
    font: var(--font-headline-6);
}

.page h4 {
    font: var(--font-headline-7);
}

.page h5 {
    font: var(--font-headline-8);
}

.page h6 {
    font: var(--font-headline-9);
}

.wp-block-gallery {
    padding: var(--page-padding) 0;
}

.wp-caption-text {
    font: var(--font-body-small);
    padding-top: calc(var(--page-padding) / 2);
    color: var(--color-grey);
}

/* DEFAULT WORDPRESS SEARCH */
.wp-block-search__button.has-icon {
    padding: var(--page-padding);
}

/* CONVENIOS ARCHIVE */
.post-type-archive-convenios .post-loop .post-loop-image img {
    object-fit: contain;
    object-position: center;
    max-height: 12rem;
}

/* PAGE SIDEBAR */
.page-grid {
    display: block;
}

.page-grid .sidebar {
    display: flex;
    align-items: flex-start;
    padding: 0;
    width: var(--full-width);
}

.page-grid .sidebar nav {
    width: 100%;
    background: var(--color-offwhite);
    padding: var(--page-padding);
    border-radius: var(--element-border-radius);
}

.page-grid .sidebar h3 {
    font: var(--font-headline-8);
}

.page-grid .sidebar ul {
    padding: 0;
    margin-bottom: 0;
}

.page-grid .sidebar ul li {
    list-style: none;
    font: var(--font-body-small);
    display: grid;
    grid-template-columns: 2rem 1fr;
    column-gap: calc(var(--column-gap) / 2);
    align-items: center;
    margin: var(--page-padding) 0 0;
}

.page-grid .sidebar ul li p {
    margin-bottom: 0;
}

.page-grid .sidebar ul li p span {
    font: var(--font-body-small);
    font-weight: bold;
}

@media (min-width: 768px) {
    .page-grid {
        display: grid;
        grid-template-columns: 1fr 30rem;
        column-gap: var(--column-gap);
    }

    .page-grid .sidebar {
        padding: 0 var(--page-padding);
        width: 100%;
    }

    .page-grid .sidebar nav {
        position: sticky;
        top: calc(var(--fixed-header-height) + calc(var(--block-margin) / 2));
        background: var(--color-offwhite);
        padding: var(--page-padding);
        border-radius: var(--element-border-radius);
    }

    .page-grid .sidebar ul li p span {
        font: var(--font-body-xsmall);
        font-weight: bold;
        word-break: break-all;
    }
}

@media (min-width: 1200px) {
    .page-grid .sidebar ul li p span {
        font: var(--font-body-small);
        font-weight: bold;
    }
}

/* SINGLE CUSTOM POST TYPE */
.single-post-thumbnail {
    margin-bottom: calc(var(--block-margin) / 2);
}