.posts-archive-with-filter-filters-group-title h2 {
    color: var(--color-purple);
}

.posts-archive-with-filter-filters-group-options-item label:is(:hover, :focus, :active) {
    background-color: var(--color-purple);
}

.posts-archive-with-filter-filters-group-options-item input:checked~label {
    background-color: var(--color-dark-purple);
}

.posts-archive-with-filter .post-loop a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.posts-archive-with-filter span.read-more {
    margin-top: auto;
}