.services ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: -5rem 0;
    position: relative;
    z-index: 1;
}

.services ul li {
    list-style: none;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s all ease;
}

.services ul li:is(:hover, :active, :focus) {
    background: var(--background-shadow);
}

.services ul a {
    text-decoration: none;
}

.services ul li h3 {
    font: var(--font-body);
    color: var(--color-white);
    font-weight: bold;
    margin-top: 1rem;
}

.services ul li img {
    width: 6rem;
}

@media (min-width: 768px) {

    .services ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .services ul li {
        min-height: 20rem;
    }

    .services ul li img {
        width: 10rem;
    }

}