.header-simple[data-color-scheme="purple"] {
    background: var(--background-color);
    color: var(--color-white);
}

.header-simple[data-color-scheme="purple-shadow"] {
    background: var(--background-color);
    color: var(--color-white);
}

.header-simple[data-color-scheme="turquoise"] {
    background: var(--background-color);
    color: var(--color-white);
}

.header-simple[data-color-scheme="turquoise-shadow"] {
    background: var(--background-color);
    color: var(--color-white);
}

.header-simple[data-color-scheme="light-blue"] {
    background: var(--background-color);
    color: var(--color-white);
}

.header-simple[data-color-scheme="light-blue-shadow"] {
    background: var(--background-color);
    color: var(--color-white);
}

.header-simple:not(.scrolled) {
    background: transparent;
    position: relative;
    transition: 0.3s all ease;
}

.header-simple:is(.scrolled) {
    transition: 0.3s all ease;
    top: 0 !important;
}

.header-simple-inner {
    -webkit-transform: translate3d(0,0,0);
}

.header-simple a {
    color: var(--color-white);
}