.header-simple[data-color-scheme="purple"],
.header-simple[data-color-scheme="purple-shadow"],
.header-simple[data-color-scheme="turquoise"],
.header-simple[data-color-scheme="turquoise-shadow"],
.header-simple[data-color-scheme="light-blue"],
.header-simple[data-color-scheme="light-blue-shadow"] {
    background: var(--background-color);
    color: var(--color-white);
}

.home .header-simple:not(.scrolled) {
    background: transparent;
    position: relative;
    transition: 0.3s all ease;
}

.home .header-simple:not(.scrolled):is(.menu-open) {
    background: var(--color-purple);
}

.header-simple:is(.scrolled) {
    transition: 0.3s all ease;
    top: 0 !important;
}

.header-simple .logo :is(img, svg) {
    max-width: 12rem;
    max-height: 5rem;
}

.header-simple .featured-menu li:last-child a {
    background: var(--color-dark-purple);
    border-radius: var(--element-border-radius);
}

.header-simple nav ul.featured-menu li a {
    font: var(--font-body-small);
}

.header-simple a {
    color: var(--color-white);
}

.header-simple .sub-menu a {
    font: var(--font-body-small);
}

.header-simple .header-simple-menu-toggle .menu-bar {
    background: var(--color-white);
}

@media (min-width: 992px) {
    .header-simple nav ul > li.menu-item-has-children > .sub-menu {
        width: max-content;
    }
}