.single-post-content-header {
    padding-top: calc(var(--block-margin) / 2);
}

.single-post-content h1 {
    font: var(--font-headline-3);
    color: var(--color-dark-purple);
    line-height: normal;
}

.single-post-content .single-post-content-footer-inner {
    max-width: var(--wide-width);
}