.blocks-container .corpo-clinico {
    max-width: var(--wide-width);
}

.home .corpo-clinico {
    margin: 10rem auto 0;
}

.corpo-clinico h1 {
    font: var(--font-headline-5);
    margin: 0;
    color: var(--color-turquoise);
}

.corpo-clinico .news {
    display: grid;
    column-gap: 1rem;
}

.corpo-clinico .news ul {
    padding: 2rem 0;
}

.corpo-clinico .news li {
    list-style: none;
    margin-bottom: 2rem;
}

.corpo-clinico .news a {
    text-decoration: none;
}

.corpo-clinico .news h3 {
    font: var(--font-headline-8);
    transition: 0.3s all ease;
}

.corpo-clinico .news h3:is(:active, :hover, :focus) {
    color: var(--color-purple);
}

.corpo-clinico .news p {
    margin: 0;
}

.corpo-clinico .news img {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .corpo-clinico .news {
        grid-template-columns: repeat(2, 1fr);
    }

    .home .corpo-clinico {
        margin: 10rem auto;
    }

    .corpo-clinico .news ul {
        padding: 0 0 0 2rem;
    }
}